<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Project Task 2!!</title>
    </head>
    
    <body>
        <div>
            <h1>Fruit Classifier</h1>
            <p>Hello World!! this is a simple web application that uses FastAPI as a backend. the main purpose of this project is to classify the type of fruit the user
                inputs the image of!! 
            </p>     
            <form method="POST" action="http://localhost:8000/"
                enctype="multipart/form-data">

                <input type="file" name="img" />
                <button type="submit">Upload</button>
            </form>
        </div>
    </body>
</html>
